* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#box {
  width: 50px;
  height: 50px;
  background-color: orange;
  margin: 0 auto;
}

#box::after {
  width: 25px;
  height: 50px;
  content: "";
  background-color: purple;
  margin: 0 auto;
  position: absolute;
}
